body{
    font-family: 'Pangolin', cursive;
    margin: 0px;
}
.name-color{
    color:rgb(92, 72, 218);
}
.big-line{
    font-size: 80px;
}
.half-width{
    width:30%;
    float: left;
    margin-left: 5%;
    padding: 2%;


}
.half-width img{
    width: 100%;
}
.top-banner{
    background-image: url("images/header-bg.png");
    background-repeat: no-repeat;
}
.second-part{
    background-image: url("images/biography-bg.png");
    background-repeat: no-repeat;
}
section{
    height: 600px;
    background-size: auto;
}
.link-button{
    text-decoration: none;
    background-color: orangered;
    padding: 15px 20px;
    border-radius: 10px;
    color: white;
    font-weight: 900;
    background-image: linear-gradient(45deg,lightSalmon,pink);
}
#insert{
    text-align: center;
}
.one-third-width img{
    width:100%;

}
.one-third-width{
    width:20%;
    float: left;
    margin-left: 3%;
    padding: 4%;

}
.third-part{
    background-image: url("images/latest-work-bg.png");
    background-repeat: no-repeat;
}
.bottom-part{
    background-image: url("images/footer-bg.png");
    background-repeat: no-repeat;
    text-align: center;
}
#last-section{ 
        padding-top: 30px;
}
#block{
    background-color: orangered;
    padding: 15px 20px;
    border-radius: 10px;
    color: white;
    font-weight: 900;
    background-image: linear-gradient(45deg,lightSalmon,pink);
    lengt
}
footer p{
    text-align: center;
    color: gray;
    padding: 10px;
    font-size: 15px;
}